<!doctype html>

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Create Account</title>

    <style>

      img{

        filter: blur(8px);

        height: 100%;

        width: 100%;

        margin: 0%; 

      }

      #MainContainer{

        height: 50%;
        
      }
    
      input {

        background: transparent;

      }

    </style>

  </head>

  <body>

    <div id="MainContainer">

      <div style="position: absolute; height: 100%;">
        <img src="static/Background.jpg" alt="not found">
      </div>

      <div style="position: absolute; margin-left: 35%;">

        <form action = "SignUp" method="POST" class="ps-5 pe-5 rounded" style="filter:sepia();margin: auto; background-color: aliceblue; border: 3px solid black; margin-top: 2vh; width: max-content;">

          {% csrf_token %}

          <div class="h1 mb-2 mt-2">

            <p class="p-3" style="width: fit-content; margin: auto;">Sign Up</p>

          </div>

          {% if Truthness != "" %}
            
          <div>

            <p style="width: fit-content; margin: auto;">{{Truthness}}</p>

          </div>

          {% endif %}


          <div class="my-4" style="margin: auto; width: 25vw;">

              <label for="Name" style="font-weight: bold; font-size: larger;" class="form-label">Name</label>

              <input type="text" name="Name" required id="Name" style="font-weight: bold; font-size: large; background-color: rgb(100, 253, 189);" class="form-control" aria-describedby="emailHelp">

          </div>

          <div class="my-4" style="margin: auto; width: 25vw;">

            <label for="Email" style="font-weight: bold; font-size: larger;" class="form-label">Email Address</label>

            <input type="email" required name="Email" id="Email" style="font-weight: bold; font-size: large; background-color: rgb(100, 253, 189);" class="form-control" aria-describedby="emailHelp">

          </div>

          <div class="my-4" style="margin: auto; width: 25vw;">

            <label for="Password" style="font-weight: bold; font-size: large;" class="form-label">Password</label>

            <input type="password" name="Password" required id="Password" style="font-weight: bold; font-size: large; background-color: rgb(100, 253, 189);" class="form-control">

          </div>

          <div class="my-4" style="margin: auto; width: 25vw;">

            <label for="ConfirmPassword" style="font-weight: bold; font-size: large;" class="form-label">Confirm Password</label>

            <input type="password" name="ConfirmPassword" required id="ConfirmPassword" style="font-weight: bold; font-size: large; background-color: rgb(100, 253, 189);"class="form-control">

          </div>

          <div class="my-4" style="margin: auto; width: fit-content;">

            <button  type = "submit" id="SignUp" style="font-weight: bold; font-size: large;" class="btn btn-primary mt-3 btn-md btn-success btn-lg">Create Account</button>

          </div>

        </form>

      </div>

    </div>

  </body>

</html>