{% extends 'index.html' %}
{% block script %}
<script>
    {
        
        FirstLoad()

        function FirstLoad(user_id){

            setTimeout(function(){
                
                UrlHandler('FirstLoad', 'StartLoad')
            
            }, 5000)

            setTimeout(function(){
                
                document.getElementById("ldgforpageload").remove()
                document.getElementById("NaviBar").style.display = "block"
                document.getElementById("MainContainer").style.display = "block"
            
            }, 3000)
            

        }

        function Url_Generator(Method, UrlValue, CallFunction, Data){

            var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

            var UrlRequest = new XMLHttpRequest()

            UrlRequest.open(Method, UrlValue, true);

            UrlRequest.setRequestHeader("X-CSRFToken", csrftoken)

            var Authorization ="Bearer " + localStorage.getItem("CurrentUserToken")

            UrlRequest.setRequestHeader("Authorization", Authorization)

            UrlRequest.send(Data);
                
            UrlRequest.onreadystatechange = function (){

                if (this.readyState == 4 && this.status == 200) {

                        ExpirationTokenCheck(CallFunction, this)

                }

            }
        }

        function ExpirationTokenCheck(ResponseFunction, Response){

            if (Response.responseText == "Time Out!"){

                LogOut()

            }
            else{

                ResponseFunction(Response)

            }

        }

        function FirstLoadResponse(Response){  

                var AllTask = JSON.parse(Response.responseText)

                document.getElementById("ldgfordata").remove()

                for(task in AllTask){

                    ResponsedData = {"TaskId" :AllTask[task][0], "TaskData":AllTask[task][1], "TaskStatus":AllTask[task][2]}

                    var Item = document.getElementById("ItemContainer").innerHTML

                    Item = Item + ItemBackground(ResponsedData)

                    document.getElementById("ItemContainer").innerHTML = Item

                }   

        }

        function UrlHandler(Identity, Reference){

            
            if(Identity == "TaskContent" && Reference == "TaskInput"){

                var formdata = new FormData()
            
                formdata.append('NewTask', document.getElementById("TaskContent").value)
            
                Url_Generator("POST", "UserHome/NewTask", MakeNewTask, formdata)

            }

            else if(Identity == 'FirstLoad' && Reference == "StartLoad"){

                var formdata = new FormData()
            
                Url_Generator("GET", "UserHome/NewTask", FirstLoadResponse, formdata)

            }

            else if(Reference == "Checked"){

                var formdata = new FormData()
            
                formdata.append('Checked', Identity.substring(0, Identity.length-1))
        
                Url_Generator("POST", "UserHome/NewTask", Checked, formdata)

            }

            else if(Reference == "Update"){

                var formdata = new FormData()
            
                formdata.append('Update', Identity.substring(0, Identity.length-1))

                formdata.append('Value',  document.getElementById(Identity.substring(0, Identity.length-1)).innerText)
        
                Url_Generator("POST", "UserHome/NewTask", Update, formdata)

            }

            else{

                var formdata = new FormData()
            
                formdata.append('Delete', Identity.substring(0, Identity.length-1))
    
                Url_Generator("POST", "UserHome/NewTask", Delete, formdata)

            }


        }

        function Checked(Response){

            var Status = JSON.parse(Response.responseText)

            if (Status.TaskStatus == "True"){

                document.getElementById(Status.TaskId + "0").checked = true

            }

            else{

                document.getElementById(Status.TaskId + "0").checked = false

            }

        }

        function Update(Response){

            var NewInformation = JSON.parse(Response.responseText)
            
            document.getElementById(NewInformation.TaskId).innerHTML = NewInformation.TaskNewContent

        }

        function Delete(Response){

            var DeleteTask = JSON.parse(Response.responseText)

            document.getElementById(DeleteTask.TaskId + "3").remove()

        }

        document.getElementById("TaskContent").addEventListener("keyup", function(KeyCode){

            if(KeyCode.keyCode == 13){

                UrlHandler("TaskContent", "TaskInput")

            }

        })

        function MakeNewTask(Response) {

            var Items = document.getElementById("ItemContainer").innerHTML

            Items = Items + ItemBackground(JSON.parse(Response.responseText))

            document.getElementById("ItemContainer").innerHTML = Items

        }

       function ItemBackground(ResponsedData){

        var BackgroundPartTwo

        var BackgroundPartOne = `<div class="border-top p-3" id = "${ResponsedData.TaskId}3">
                <div class="row justify-content-center mx-3">
                   <p name="TaskRealContent" style="font-weight: bold;" id="${ResponsedData.TaskId}" contenteditable="true" class="lead border mb-3 col-lg-5"> ${ResponsedData.TaskData} </p>
                </div>
                
                <div class="row justify-content-center mx-5 px-2">
                    <div class="mb-3 col-lg-6 form-check">`

        if (ResponsedData.TaskStatus == "true") {

          BackgroundPartTwo =  `<input name="TaskStatus" onclick="UrlHandler(id, 'Checked')" id="${ResponsedData.TaskId}0" type="checkbox" class="btn-check" Checked>`


        } 
        else {

            BackgroundPartTwo =  `<input name="TaskStatus" onclick="UrlHandler(id, 'Checked')" id="${ResponsedData.TaskId}0" type="checkbox" class="btn-check">`

        }              
        
        
        
        
        var BackgroundPartThree = `<label class="btn btn-outline-warning btn-sm" for="${ResponsedData.TaskId}0">Checked</ label>
                                        </div>
                                    </div>
                                    
                                    <div class="row justify-content-center mx-4 ml-2">
                                        <div class="mb-3 col-lg-4 form-check">
                                            <div class="text-left mx-3">
                                                <a onclick="UrlHandler(id, 'Update')" id="${ResponsedData.TaskId}1" name="EditBtn"
                                                    class="btn btn-success">Update</a>
                                            </div>
                                        </div>
                                        <div class="mb-3 col-lg-2 form-check px-3">
                                            <div class="text-left mx-5">
                                                <a onclick="UrlHandler(id, 'Delete')" id="${ResponsedData.TaskId}2" name="DeleteBtn"
                                                    class="btn btn-info">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>`
        
            return (BackgroundPartOne + BackgroundPartTwo + BackgroundPartThree).toString()
       }

       function LogOut(){
            
            localStorage.removeItem("CurrentUserToken")
            location.href = "/"

       }
    }
</script>
{% endblock script %}